
@{
    ViewData["Title"] = "About";
}


<head>
    <link rel="stylesheet" href="~/css/About.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital@0;1&display=swap" rel="stylesheet">
   
</head>

<div class="text-center" style=" font-family: 'Bona Nova' , serif;">

    <u1>
        <div>

            <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235260084_107783014950286_4037703559554965442_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=lTNjmh8rpL0AX9HtNOa&_nc_ht=scontent.ftlv5-1.fna&oh=6e1ec47d5439e0b09207dd28c12d48bf&oe=616DD1B8" style="width:491px; height:500px">
            <br />
            <div class="card">
                <div>
                    <br />


                    <h3 style="font-family: 'Bona Nova', serif; color: #090e46">
                        ברוכים הבאים לגלידת איזי (IZEI) ,רשת הגלידות החדשה בישראל ! <br />
                        הנכם מוזמנים להנות מחווית טעמים חדשה וייחודית בישראל ! <br />
                        אם אתה יוצא לדייט, יוצא עם חברים או סתם יש לך חשק בלילה למתוק <br />
                        IZEI זה המקום האוליטמטבי בשבילך. <br />
                        נשמח לראותכם בין אורחינו.
                    </h3>

                </div>

                <h2 style="font-family: 'Bona Nova', serif;  color: #090e46 ">
                    הגעתם לפה ? כנראה שאתם במקום הנכון כי לא כל יום ניתן הצצה רשמית לסניף הבית  שלנו !
                </h2>
                <pre>
    
                    </pre>


                <div class="video">

                    <video width="538" height="300" controls>
                        <source src="~/Strawberry,Oreo Roll Icecream_Japan street food_Harajuku Japan.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <br />


                    <br /><br />
                    <br /><br />
                    <h4 style=" font-family: 'Bona Nova', serif;color: #090e46">
                        הסניף שבו הכל התחיל (סניף הבית),מומלץ להגיע עם הזמנת מקום מראש

                    </h4>
                    <h4 style="        font-family: 'Bona Nova', serif;color: #090e46">
                        אלי ויזל 10,ראשון לציון
                    </h4>
                    <br />
                    <br />
                    <br /><br />




                    <!--Google Maps-->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.6900954119606!2d34.77224248575843!3d31.969303132036828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b3f69a0c1b27%3A0x9df60473d5201ec3!2z15DXnNeZINeV15nXltecIDEwLCDXqNeQ16nXldefINec16bXmdeV158!5e0!3m2!1siw!2sil!4v1627570605134!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                    <br /><br />



                    <a class="weatherwidget-io" href="https://forecast7.com/en/31d9734d79/rishon-letsiyon/" data-label_1="RISHON LEZION" data-label_2="WEATHER" data-theme="original">RISHON LEZION WEATHER</a>
                    <script>
                        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                    </script>
                    <br />

                </div>
            </div>
            <br />
            <br />
        </div>
    </u1>
</div>