@{ ViewData["Title"] = "Gallery"; }


<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital@0;1&display=swap" rel="stylesheet">
</head>

<html>
<body>
    <br />
    <div class="w3-container">
        <h2 style="font-family: 'Bona Nova', serif;color: #d6d6a2;font-size: 50px" class="text-center"> הגלריה שלנו לרשותכם  </h2>
    </div>
    <pre>

    </pre>

    <div class="w3-row-padding">
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Nature');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235046525_107783201616934_5097399507332581845_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=NcAKCexvvyIAX8-VoxN&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=1f91515bcd139eb66a74c3cbc758cad9&oe=61443773" alt="Nature" style="width:100%">
            </a>
        </div>
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Snow');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235530726_107783228283598_1977784902422379036_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=b77IduqwarYAX94hlW-&_nc_ht=scontent.ftlv5-1.fna&oh=d8aff2a1843c65c7aa5df597ed8b6407&oe=6143D46B" alt="Snow" style="width:100%">
            </a>
        </div>
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Mountains');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235117383_107783281616926_8427434419660752608_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_ohc=v9ustQ3irSMAX8m3C7O&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=60d3037542d30742e5188ec5bf4a2f16&oe=614222D0" alt="Mountains" style="width:100%">
            </a>
        </div>
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Lights');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234836201_107783294950258_8016301805988048459_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=yYd4dxU6XPMAX82KvkN&_nc_ht=scontent.ftlv5-1.fna&oh=9f94bc23f410bcb28f44d605c696dd9e&oe=6141C4D5" alt="Lights" style="width:100%">
            </a>
        </div>
    </div>

    <br>

    <div class="w3-row-padding">

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Sasa');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235304556_107782531617001_1917109827143777711_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=0debeb&_nc_ohc=3eujuW_X1iYAX9LLgBZ&_nc_ht=scontent.ftlv5-1.fna&oh=479c2bec10269618a5d31e27f0ad0800&oe=61428013" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('AAAA');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235029073_107782491617005_3128014627288217460_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=0debeb&_nc_ohc=wXi0BEHfVtkAX-ntQlw&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=a152fb2ee14e0daa57aa37263bc734f2&oe=6141593A" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('AB');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234798111_107782664950321_7362251425497382737_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=0debeb&_nc_ohc=G4IwGSChMuwAX8HOBPL&_nc_oc=AQkmN5YqynQ6fm26d8SIPBcIH_SYEv8z8ZCePokjrOnBzi43p4xcgei472jyZ3liFKU&_nc_ht=scontent.ftlv5-1.fna&oh=9c27cf6946ec42aacbcb3d6893ba8788&oe=61433545" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('AC');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234901943_107782768283644_4878970338320318639_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=0debeb&_nc_ohc=5bcz1Aay3FEAX_NJW14&_nc_ht=scontent.ftlv5-1.fna&oh=4b5638d24657c95e3e617ae93e215408&oe=6140B110" alt="Nature" style="width:100%">
            </a>
        </div>

    </div>
    <br>


    <div class="w3-row-padding">

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CC');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235220921_107782801616974_7864234905866852944_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_ohc=c5AI4JeQrLsAX9ByKpG&_nc_ht=scontent.ftlv5-1.fna&oh=6e3a366b9d5ea546ac964b1ad4071e5c&oe=6141B5F8" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CA');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234868625_107782541617000_2662414745744886952_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=fAQPJcN6FyQAX_GkwAa&_nc_ht=scontent.ftlv5-1.fna&oh=7b01da254097aa2a18410702ce8aec09&oe=614092C5" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CB');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235195311_107782894950298_3480081293617502911_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=a94IbHydZtkAX-_hQkZ&_nc_ht=scontent.ftlv5-1.fna&oh=eae09e6ba8b4f9c2395a939ef68fa4f1&oe=6143444C" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CD');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234807696_107782841616970_7914783003620344222_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=0debeb&_nc_ohc=uY9bgcJgNhAAX92Ww_H&_nc_ht=scontent.ftlv5-1.fna&oh=fc7d629142dbcc91c42bee50b169b561&oe=614296C9" alt="Nature" style="width:100%">
            </a>
        </div>

    </div>



    <pre>  </pre>

    <div id="Nature" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235046525_107783201616934_5097399507332581845_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=NcAKCexvvyIAX8-VoxN&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=1f91515bcd139eb66a74c3cbc758cad9&oe=61443773" alt="Nature" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="Snow" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235530726_107783228283598_1977784902422379036_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=b77IduqwarYAX94hlW-&_nc_ht=scontent.ftlv5-1.fna&oh=d8aff2a1843c65c7aa5df597ed8b6407&oe=6143D46B" alt="Snow" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="Mountains" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235117383_107783281616926_8427434419660752608_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_ohc=v9ustQ3irSMAX8m3C7O&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=60d3037542d30742e5188ec5bf4a2f16&oe=614222D0" alt="Mountains" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent">&times;</span>
    </div>

    <div id="Lights" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234836201_107783294950258_8016301805988048459_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=yYd4dxU6XPMAX82KvkN&_nc_ht=scontent.ftlv5-1.fna&oh=9f94bc23f410bcb28f44d605c696dd9e&oe=6141C4D5" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>


    <div id="Sasa" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235304556_107782531617001_1917109827143777711_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=0debeb&_nc_ohc=3eujuW_X1iYAX9LLgBZ&_nc_ht=scontent.ftlv5-1.fna&oh=479c2bec10269618a5d31e27f0ad0800&oe=61428013" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="AAAA" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235029073_107782491617005_3128014627288217460_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=0debeb&_nc_ohc=wXi0BEHfVtkAX-ntQlw&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=a152fb2ee14e0daa57aa37263bc734f2&oe=6141593A" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="AB" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234798111_107782664950321_7362251425497382737_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=0debeb&_nc_ohc=G4IwGSChMuwAX8HOBPL&_nc_oc=AQkmN5YqynQ6fm26d8SIPBcIH_SYEv8z8ZCePokjrOnBzi43p4xcgei472jyZ3liFKU&_nc_ht=scontent.ftlv5-1.fna&oh=9c27cf6946ec42aacbcb3d6893ba8788&oe=61433545" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="AC" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234901943_107782768283644_4878970338320318639_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=0debeb&_nc_ohc=5bcz1Aay3FEAX_NJW14&_nc_ht=scontent.ftlv5-1.fna&oh=4b5638d24657c95e3e617ae93e215408&oe=6140B110" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="CC" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235220921_107782801616974_7864234905866852944_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_ohc=c5AI4JeQrLsAX9ByKpG&_nc_ht=scontent.ftlv5-1.fna&oh=6e3a366b9d5ea546ac964b1ad4071e5c&oe=6141B5F8" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>
    <div id="CA" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234868625_107782541617000_2662414745744886952_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=fAQPJcN6FyQAX_GkwAa&_nc_ht=scontent.ftlv5-1.fna&oh=7b01da254097aa2a18410702ce8aec09&oe=614092C5" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>
    <div id="CB" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235195311_107782894950298_3480081293617502911_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=a94IbHydZtkAX-_hQkZ&_nc_ht=scontent.ftlv5-1.fna&oh=eae09e6ba8b4f9c2395a939ef68fa4f1&oe=6143444C" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>
    <div id="CD" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234807696_107782841616970_7914783003620344222_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=0debeb&_nc_ohc=uY9bgcJgNhAAX92Ww_H&_nc_ht=scontent.ftlv5-1.fna&oh=fc7d629142dbcc91c42bee50b169b561&oe=614296C9" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>



    <script src="~/js/Gallery.js"></script>


</body>
</html>