@{ ViewData["Title"] = "Gallery"; }


<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital@0;1&display=swap" rel="stylesheet">
</head>

<html>
<body>
    <br />
    <div class="w3-container">
        <h2 style="font-family: 'Bona Nova', serif;color: #d6d6a2;font-size: 50px" class="text-center"> הגלריה שלנו לרשותכם  </h2>
    </div>
    <pre>

    </pre>

    <div class="w3-row-padding">
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Nature');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235702908_107783061616948_6943558175537987657_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=VwHpamwyRd8AX9ohYzH&_nc_ht=scontent.ftlv5-1.fna&oh=a7321d30a1bada31363a79bf1c4a2e19&oe=616DEF69" alt="Nature" style="width:100%">
            </a>
        </div>
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Snow');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234868625_107782541617000_2662414745744886952_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=odLW2Xw0NOsAX_Z6ONr&_nc_ht=scontent.ftlv5-1.fna&oh=2087e2b497ee11b3215681e8910ea8d3&oe=617008C5" alt="Snow" style="width:100%">
            </a>
        </div>
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Mountains');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234807696_107782841616970_7914783003620344222_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=0debeb&_nc_ohc=53LowrNyaXcAX9iIBiT&_nc_ht=scontent.ftlv5-1.fna&oh=640618577cc41be003ee1cd7b82c211c&oe=616E1849" alt="Mountains" style="width:100%">
            </a>
        </div>
        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Lights');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235195311_107782894950298_3480081293617502911_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Y9m_qlARfNMAX-fHL4K&_nc_ht=scontent.ftlv5-1.fna&oh=f1906a4d3728510998dd120e02db8291&oe=616EC5CC" alt="Lights" style="width:100%">
            </a>
        </div>
    </div>

    <br>

    <div class="w3-row-padding">

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('Sasa');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235117397_107782914950296_3092080233040872853_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=0debeb&_nc_ohc=q7aibIUMU4sAX_lAGfd&_nc_ht=scontent.ftlv5-1.fna&oh=531fccf3df01f852867ab59049109c32&oe=61701F8A" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('AAAA');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235493906_107782948283626_6048906429943433564_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=yLJDZqbx6zwAX_YqX0u&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=5c6d8360725f24a8ded4b36f1c0ed68a&oe=6170DFAF" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('AB');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235323603_107782998283621_543182336745884338_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=0debeb&_nc_ohc=XEFG_1CfVFkAX8jJfU7&_nc_ht=scontent.ftlv5-1.fna&oh=47f1e12876efe128cf0fc1c7c4764551&oe=61708982" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('AC');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234786370_107783171616937_3249604889431343591_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=XrXTHZw3Xy8AX--I23Q&_nc_ht=scontent.ftlv5-1.fna&oh=edc26637c6d4dffb6c11aa4b935da4d6&oe=616DCC68" alt="Nature" style="width:100%">
            </a>
        </div>

    </div>
    <br>


    <div class="w3-row-padding">

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CC');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235046525_107783201616934_5097399507332581845_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=HPQcp0hkJkwAX_eoulb&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=f0ddef3ffda2cd18ed672c96cc15f08d&oe=616FB8F3" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CA');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235530726_107783228283598_1977784902422379036_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=xCBXtqY9cKoAX-Dxh-L&_nc_ht=scontent.ftlv5-1.fna&oh=b1563a508986317b385f080cf4065e88&oe=616F55EB" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CB');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235117383_107783281616926_8427434419660752608_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Mj86DY4jj-sAX_g4WJx&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=ca9b5b5d7139fb1bdb322f1e5131ebf9&oe=616DA450" alt="Nature" style="width:100%">
            </a>
        </div>

        <div class="w3-col s3 w3-container">
            <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('CD');">
                <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234836201_107783294950258_8016301805988048459_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=BO1MCwyxx54AX9gYUrA&_nc_ht=scontent.ftlv5-1.fna&oh=73bf66580d5659db5dbb779994071b1c&oe=61713AD5" alt="Nature" style="width:100%">
            </a>
        </div>

    </div>



    <pre>  </pre>

    <div id="Nature" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235702908_107783061616948_6943558175537987657_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=VwHpamwyRd8AX9ohYzH&_nc_ht=scontent.ftlv5-1.fna&oh=a7321d30a1bada31363a79bf1c4a2e19&oe=616DEF69" alt="Nature" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="Snow" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234868625_107782541617000_2662414745744886952_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=odLW2Xw0NOsAX_Z6ONr&_nc_ht=scontent.ftlv5-1.fna&oh=2087e2b497ee11b3215681e8910ea8d3&oe=617008C5" alt="Snow" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="Mountains" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234807696_107782841616970_7914783003620344222_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=0debeb&_nc_ohc=53LowrNyaXcAX9iIBiT&_nc_ht=scontent.ftlv5-1.fna&oh=640618577cc41be003ee1cd7b82c211c&oe=616E1849" alt="Mountains" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent">&times;</span>
    </div>

    <div id="Lights" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235195311_107782894950298_3480081293617502911_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Y9m_qlARfNMAX-fHL4K&_nc_ht=scontent.ftlv5-1.fna&oh=f1906a4d3728510998dd120e02db8291&oe=616EC5CC" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>


    <div id="Sasa" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235117397_107782914950296_3092080233040872853_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=0debeb&_nc_ohc=q7aibIUMU4sAX_lAGfd&_nc_ht=scontent.ftlv5-1.fna&oh=531fccf3df01f852867ab59049109c32&oe=61701F8A" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="AAAA" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235493906_107782948283626_6048906429943433564_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=yLJDZqbx6zwAX_YqX0u&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=5c6d8360725f24a8ded4b36f1c0ed68a&oe=6170DFAF" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="AB" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235323603_107782998283621_543182336745884338_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=0debeb&_nc_ohc=XEFG_1CfVFkAX8jJfU7&_nc_ht=scontent.ftlv5-1.fna&oh=47f1e12876efe128cf0fc1c7c4764551&oe=61708982" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="AC" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234786370_107783171616937_3249604889431343591_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=XrXTHZw3Xy8AX--I23Q&_nc_ht=scontent.ftlv5-1.fna&oh=edc26637c6d4dffb6c11aa4b935da4d6&oe=616DCC68" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>

    <div id="CC" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235046525_107783201616934_5097399507332581845_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=HPQcp0hkJkwAX_eoulb&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=f0ddef3ffda2cd18ed672c96cc15f08d&oe=616FB8F3" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>
    <div id="CA" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235530726_107783228283598_1977784902422379036_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=xCBXtqY9cKoAX-Dxh-L&_nc_ht=scontent.ftlv5-1.fna&oh=b1563a508986317b385f080cf4065e88&oe=616F55EB" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>
    <div id="CB" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/235117383_107783281616926_8427434419660752608_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=0debeb&_nc_ohc=Mj86DY4jj-sAX_g4WJx&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv5-1.fna&oh=ca9b5b5d7139fb1bdb322f1e5131ebf9&oe=616DA450" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>
    <div id="CD" class="picture w3-display-container" style="display:none">
        <img src="https://scontent.ftlv5-1.fna.fbcdn.net/v/t1.6435-9/234836201_107783294950258_8016301805988048459_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=BO1MCwyxx54AX9gYUrA&_nc_ht=scontent.ftlv5-1.fna&oh=73bf66580d5659db5dbb779994071b1c&oe=61713AD5" alt="Lights" style="width:100%">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-display-topright w3-button w3-transparent w3-text-white">&times;</span>
    </div>



    <script src="~/js/Gallery.js"></script>


</body>
</html>