@{
    ViewData["Title"] = "Team";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="~/css/Team.css">
</head>
<body>
    <pre>

    </pre>
    <haz>
        <h1 style="text-align:center">Our Team</h1>
      
        <pre></pre>

        <div class="row">
            <div class="card">
                <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.6435-9/124018461_3442015669250358_4730789914904953842_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Vwc7FHeZw48AX8x7XDN&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv6-1.fna&oh=faa5fc6e1bc17ef2d5f53c8ea2b91967&oe=61278CF9" alt="Zehava" style="width:100%" height="297.72">
                <h1>Zehava Liviyev</h1>
                <p class="title">Web Developer</p>
                <p>The College of Management Academic Studies</p>
                <div style="margin: 24px 0;">
                    <a  target="_blank" href="https://www.linkedin.com/in/zehava-liviyev-23006a202/"><i class="fa fa-linkedin"></i></a>
                    <a  target="_blank" href="https://www.facebook.com/profile.php?id=100003258770015"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button>Contact</button></p>
            </div>

            <div class="card">
                <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t1.6435-9/53110596_10217982135815617_3433887032449957888_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=WZ3NcAFl5wYAX97wVjL&_nc_ht=scontent.ftlv6-1.fna&oh=e0063fb11036e88c39ba6bf12f6206f9&oe=61284E42" alt="Itay" style="width:100%">
                <h1>Itay Bayazi</h1>
                <p class="title">Web Developer</p>
                <p>The College of Management Academic Studies</p>
                <div style="margin: 24px 0;">
                    <a  target="_blank" href="https://www.linkedin.com/in/itay-bayazi-19961000/"><i class="fa fa-linkedin"></i></a>
                    <a  target="_blank" href="https://www.facebook.com/bayazi"><i class="fa fa-facebook"></i></a>
                </div>
                <p><button>Contact</button></p>
            </div>
        </div>
    </haz>
</body>
</html>
