<!DOCTYPE html>
@{
    ViewData["Title"] = "Hayadata";
    Layout = "_Layout";
}


<html dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Hayadata.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>

<body>


    <header>
        <div class="text-center"> <h1 class="display-4" style=" font-family: 'Bona Nova', serif;color: #d6d6a2"> הידעת?  </h1></div>

    </header>

    <div>
        <h2>
            <div class="text-center"> <h1 class="display-4" style="font-family: 'Bona Nova', serif; color: #d6d6a2"> כנראה שלא אז...  </h1></div>
        </h2>
    </div>
    <pre>

    </pre>
    <div class="text-right" >
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t39.30808-6/226864359_754623895272022_7310758689881530843_n.png?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=DYiZqtE_J-0AX9eoeD4&_nc_ht=scontent.ftlv6-1.fna&oh=d3d21cef9c8ca678161295768a76d477&oe=6108E11A" alt="rover" />
                </div>
                <div class="card-body">
                    <span style="font-family: 'Bona Nova', serif;" class="tag tag-teal">
                        איפה נולדתי?
                    </span>
                    <h4  style="font-family: 'Bona Nova', serif;color: #090e46" class="text-center">
                        הגלידה הראשונה לא הומצאה באיטליה כמו שנהוג לחשוב, אלא בסין.
                        היא הייתה פשוט ערבוב של מיצי פירות עם קרח.
                    </h4>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="https://prod-wolt-venue-images-cdn.wolt.com/5f43ac125060d8157b9a3c1f/019a6748-f68b-11ea-9984-1e09a232bab7_menu_2.jpg" alt="ballons" />
                </div>
                <div class="card-body">
                    <span class="tag tag-purple">
                        הדיאטה החלומית?
                    </span>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        נתקלנו כבר בדיאטת חלבונים ובדיאטת כרוב,
                        אבל אין ספק שהכי שמחנו לשמוע על דיאטת גלידה!
                    </h4>
                    <h4 style="font-family: 'Bona Nova', serif;color: #090e46"> מי שדוגל בדיאטה הזאת בטח לא שמע שכוס אחת של גלידת וניל שווה 273 קלוריות.</h4>

                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t39.30808-6/226836191_754623961938682_7373053499286711741_n.png?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=RNUs1fZevEEAX9KygqV&_nc_ht=scontent.ftlv6-1.fna&oh=808881db7eeda26e4c0ee3728b38cf23&oe=6108BC0F" alt="city" />
                </div>
                <div class="card-body">
                    <span class="tag tag-pink">
                        למה דווקא גלידה?
                    </span>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        ממציא המילה "גלידה" הוא כמובן אליעזר בן-יהודה.
                    </h4>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        הוא יצר אותה על המשקל של המילה "לביבה" עם השורש ג.ל.ד המתייחס לנוזל שהתקשה.
                    </h4>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t39.30808-6/227103351_754623901938688_4489645589254305236_n.png?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=l4I78R5J6aUAX-HC8P9&_nc_ht=scontent.ftlv6-1.fna&oh=5f90f3b430993616dcfba7d97c4bb7b6&oe=610889BE" alt="city" />
                </div>
                <div class="card-body">
                    <span class="tag tag-pink">
                        איזה קור!
                    </span>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        חוויתם פעם "Brain freeze", או "קיפאון מוחי" כמו שעלינו לקרוא לזה בעברית?

                    </h4>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        אם כן, תדעו שזה קרה לכם בגלל שהגלידה נגעה בתקרת הפה שלכם, והטמפרטורה הנמוכה שלה כיווצה את כלי הדם באזור.
                    </h4>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        השחרור הפתאומי של כלי הדם האלה לאחר מכן הוא הגורם לכאב.
                    </h4>
                </div>
            </div>



            <div class="card">
                <div class="card-header">
                    <img src="https://glidatstrauss.co.il/wp-content/uploads/2019/01/Main_1920x505.png" alt="city" />
                </div>
                <div class="card-body">
                    <span class="tag tag-purple">
                        מהיכן הגיע הגביע?
                    </span>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        ביריד העולמי של סיינט לואיס בשנת 1904 אזלו לאחד מדוכני הגלידה כלי ההגשה,
                        והיה עליו לשתף פעולה עם דוכן שכן שמכרו בו מאפה וופל בצורת חרוט.

                    </h4>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        שיתוף הפעולה של השניים יצר את גביע הגלידה ממנו אנחנו נהנים עד היום.
                    </h4>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <img src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t39.30808-6/226788526_754623908605354_2388674748591718896_n.png?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_ohc=Ezab363Vp8IAX8qn3sx&tn=BACNfLudBkk3VGcy&_nc_ht=scontent.ftlv6-1.fna&oh=4e192ad4ca76d2fa977a6585b1e78696&oe=6108AB71" alt="city" />
                </div>
                <div class="card-body">
                    <span class="tag tag-teal">
                        יום וחודש הגלידה
                    </span>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46">
                        מדינה שמייצרת את הכמות הגדולה ביותר של גלידה היא ארה"ב, וכנראה בגלל זה מציינים שם במהלך כל חודש יולי את חודש הגלידה הלאומי.
                    </h4>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46"> בנוסף, ה-4 בפברואר הוא יום ה"גלידה לארוחת בוקר".</h4>
                    <h4 class="text-center" style="font-family: 'Bona Nova', serif;color: #090e46"> אה והאמריקאים כל כך אוהבים גלידה, שאת סיומה של מלחמת העולם השנייה הם חגגו באכילתה.</h4>
                </div>
            </div>


           
        </div>
    </div>
</body>
</html>





