@model OurNewProject.Models.User

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/log-out.css" />


<div class="wrapper fadeInDown">
    <div id="formContent">
        <p></p><p></p>
        <!-- Tabs Titles -->
        <a class="inactive underlineHover" asp-action="Login" style="color:#000000"> Sign in </a>
        <a> </a>
        <a> </a>
        <a> </a>
        <a class="inactive underlineHover" asp-action="Register" style="color:#000000"> Sign up </a>
        <p></p><p></p>
      

        <form asp-action="Login">

            <input type="text" id="User Name" asp-for="UserName" class="fadeIn text-white" placeholder="Username" />
            <p></p>
            <input type="text" id="password" asp-for="Password" class="fadeIn text-white" placeholder="Password" />
            <p></p>
            <input type="submit" value="Login" class="btn btn-primary" />

        </form>
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error </div>
        }


    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

