@using OurNewProject.Models;
@using OurNewProject.Controllers;
@{
    ViewBag.Title = "statistics";

}
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/reservation.css" />
    <script src="~/js/reservation.js"></script>
    <link rel="stylesheet" href="~/css/gallery.css">
    <link rel="stylesheet" href="~/css/about.css">
</head>

<br />
<div class="text-center">
    <br />
    <h2 class="ourTitle">Wano</h2>
    <h1 class="menuTitle">STATISTICS</h1>
    <u1>
        <div class="aboutwall">
            <br />
            <div class="textabout">
                <div>
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/data.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                    <br />
                    <br />
                    <br />
                    <table id="datatable" style="display:none">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Type</th>

                            </tr>
                        </thead>

                        <tbody>
                           @* @foreach (var v in ViewBag.data as ICollection<Stat>)
                            {
                                <tr>
                                    <th> @v.Key</th>
                                    <th>@v.Values</th>
                                </tr>
                            }*@
                        </tbody>
                    </table>

                    <script>
                        Highcharts.chart('container', {
                            data: {
                                table: 'datatable'
                            },
                            chart: {
                                type: 'pie'
                            },
                            title: {
                                text: 'Users VS admins'
                            },
                            yAxis: {
                                allowDecimals: false,
                                title: {
                                    text: 'Number of Items'
                                }
                            },
                            tooltip: {
                                formatter: function () {
                                    return '<b>' + this.series.name + '</b><br/>' +
                                        this.point.y + ' ' + this.point.name.toLowerCase();
                                }
                            }

                        });
                    </script>

                </div>



                <p>




                </p>

                <table id="datatable2" style="display:none">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Item Name</th>

                        </tr>
                    </thead>

                    <tbody>
                       @* @foreach (var v in ViewBag.data2 as ICollection<Stat>)
                        {
                            <tr>
                                <th> @v.Key</th>
                                <th>@v.Values</th>
                            </tr>
                        }*@
                    </tbody>
                </table>



                <div>
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/data.js"></script>
                    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

                    <div id="container2" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>



                    <script>
                        Highcharts.chart('container2', {
                            data: {
                                table: 'datatable2'
                            },
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'How many products in each category'
                            },
                            plotOptions: {
                                series: {
                                    dataLabels: {
                                        enabled: true,
                                        format: '{point.name}: {point.percentage:.1f}'
                                    }
                                }

                            },

                            tooltip: {
                                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.f}</b> of total<br/>'
                            }
                        });



                    </script>

                </div>
            </div>
            <br />
        </div>
    </u1>
</div>

