@model OurNewProject.Models.Category

@{
    ViewData["Title"] = "Create";
}
<head>

    <link rel="stylesheet" href="~/css/Create.css" />

</head>


<body>

    <div class="text-center" id="page-wrapper">
        <h1 style="color: #090e46"> צור קטגוריה </h1>
        <form asp-action="Create">

            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>


            <br />
            <div class="form-group">
                <input style="background-color:#d6d6a2" type="submit" value="Create" />
            </div>

        </form>


        <div>
            <a class="text-left" asp-action="Index"> חזור אחורה </a>
        </div>

    </div>

</body>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
