@model OurNewProject.Models.Product

@{
    ViewData["Title"] = "Create";
}

<head>

    <link rel="stylesheet" href="~/css/Create.css" />

</head>
<body>

    <div class="text-center" id="page-wrapper">
        <h1 style="color: #090e46">צור מוצר חדש </h1>
        <form asp-action="Create">

            <label for="default" asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="Price" class="control-label"></label>
            <input min="0" asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>

            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>

            <label asp-for="CategoryId" class="control-label"> קטגוריה</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categoriess"></select>
            <br />
            <div class="form-group">
                <input style="background-color:#d6d6a2" type="submit" value="Create" />
            </div>

        </form>

        @*<div>
            <a asp-action="Create" asp-controller="ProductImages">  <b> כעת , לאחר שיצרת מוצר לחץ כאן כדי להוסיף לו תמונה </b></a>
        </div>*@

        <div>
            <a > <b> לאחר שיצרת מוצר לא לשכוח להוסיף לו תמונה </b></a>
        </div>

        <div>
            <a class="text-left" asp-action="Index"> חזור אחורה </a>
        </div>

    </div>

</body>
    
@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
